body {
  background-color: #3b6978;
}
h1 {
  color: #204051;
  text-align: center;
}

h2 {
  text-align: center;
  color: #84a9ac;
}

p, li {
  text-align: center;
  color: #cae8d5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #84a9ac;
  border-width: 5px;
  width: 5%;
}
img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
